<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
            class="nav-link active"
            id="nav-where-is-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-where-is"
            type="button"
            role="tab"
            aria-controls="nav-where-is"
            aria-selected="true"
            routerLink="where-is"
        >
            Onde é?
        </button>
        <button
            class="nav-link"
            id="nav-how-to-use-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-how-to-use"
            type="button"
            role="tab"
            aria-controls="nav-how-to-use"
            aria-selected="false"
            routerLink="how-to-use"
        >
            Como Usar?
        </button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent"></div>
