<main>
  <app-slider></app-slider>
  <div class="slogan">
    <h2>Amamos o que fazemos!</h2>
    <span>E criar soluções é nossa arte! </span>
    <hr />
  </div>

  <ul class="resume">
    <li>
      <h2>Melhore seu negócio</h2>
      <hr />
      <p>
        Descubra como a tecnologia e os produtos qAtive podem ajudar a
        satisfazer as necessidades dos seus clientes, agentes e partes
        interessadas.
      </p>
      <button>SAIBA MAIS</button>
    </li>

    <li>
      <h2>Confiança e responsabilidade</h2>
      <hr />
      <p>
        Oferecemos soluções na área de desenvolvimento de sistemas, sites,
        marketing digital e locação de equipamentos, além dos sistemas para
        loteamento (qImob 1.0) e gestão de imobiliárias (qImob 2.0).
      </p>
      <button>SAIBA MAIS</button>
    </li>

    <li>
      <h2>O que fazemos por aqui?</h2>
      <hr class="last" />
      <p>
        Nosso foco é sermos reconhecidos pela excelência no fornecimento de
        tecnologia e suporte à gestão.
      </p>
      <button>SAIBA MAIS</button>
    </li>
  </ul>

  <div class="slogan">
    <h2>Nós resolvemos, mesmo!</h2>
    <span>qAtive vai alavancar o seu negócio!</span>
  </div>
</main>
