<div class="container">
    <div *ngIf="idProduct === undefined" class="ordem-compra">
        <form
            [formGroup]="formProduct"
            novalidate
            (ngSubmit)="handleCheckout()"
        >
            <h5>Sua Compra</h5>
            <hr />

            <div
                class="form-row"
                style="
                    background: #fafafa;
                    padding: 20px;
                    border-bottom: solid 1px #f0f0f0;
                "
            >
                <div class="form-group col-sm-1">
                    <img src="/assets/ofertas/1/img1.jpg" class="img-fluid" />
                </div>
                <div class="form-group col-sm-6">
                    Super Burger
                    <br />
                    Rodízio de Mini-hambúrger com opção de entrada.
                </div>

                <div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-link">
                                -
                            </button>
                            1
                            <button type="button" class="btn btn-link">
                                +
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-3 d-flex justify-content-end">
                    29.90
                </div>
            </div>

            <div
                class="form-row"
                style="
                    background: #fafafa;
                    padding: 20px;
                    border-bottom: solid 1px #f0f0f0;
                "
            >
                <div class="form-group col-sm-1">
                    <img src="/assets/ofertas/4/img1.jpg" class="img-fluid" />
                </div>
                <div class="form-group col-sm-6">
                    Estância das águas
                    <br />
                    Diversão garantida com piscinas, trilhas e muito mais.
                </div>

                <div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-link">
                                -
                            </button>
                            1
                            <button type="button" class="btn btn-link">
                                +
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-3 d-flex justify-content-end">
                    31.90
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col d-flex justify-content-end">
                    <h4>Total do pedido: 61.80</h4>
                </div>
            </div>
            <br />

            <h5>Dados de entrega</h5>
            <hr />

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input
                        type="text"
                        placeholder="Endereço"
                        autocomplete="off"
                        formControlName="address"
                    />
                    <div>
                        <small
                            *ngIf="
                                formProduct.controls.address.valid &&
                                formProduct.controls.address.touched
                            "
                            class="form-text text-success"
                            >Ok</small
                        >

                        <small
                            *ngIf="
                                !formProduct.controls.address.valid &&
                                formProduct.controls.address.touched
                            "
                            class="form-text text-danger"
                        >
                            Endereço inválido
                        </small>
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <input
                        type="text"
                        placeholder="Número"
                        autocomplete="off"
                        formControlName="number"
                    />
                    <div>
                        <small
                            *ngIf="
                                formProduct.controls.number.valid &&
                                formProduct.controls.number.touched
                            "
                            class="form-text text-success"
                            >Ok</small
                        >
                        <small
                            *ngIf="
                                !formProduct.controls.number.valid &&
                                formProduct.controls.number.touched
                            "
                            class="form-text text-danger"
                        >
                            Informe um número
                        </small>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <input
                        type="text"
                        placeholder="Complemento"
                        autocomplete="off"
                        formControlName="complement"
                    />
                </div>
            </div>
            <br />

            <h5>Dados de pagamento</h5>
            <hr />

            <div class="form-row">
                <div class="form-group col-md-3">
                    <select formControlName="payment">
                        <option value="dinheiro" selected>Dinheiro</option>
                        <option value="debito">Débito</option>
                    </select>

                    <small
                        *ngIf="
                            !formProduct.controls.payment.valid &&
                            formProduct.controls.payment.touched
                        "
                        class="form-text text-danger"
                    >
                        Selecione uma forma de pagamento
                    </small>
                </div>
            </div>

            <hr />
            <button
                type="submit"
                class="btn btn-primary btn-lg"
                [disabled]="!formProduct.valid"
            >
                Confirmar compra
            </button>
        </form>
    </div>

    <div *ngIf="idProduct !== undefined">
        <app-purchase-order-success
            [idProduct]="idProduct"
        ></app-purchase-order-success>
    </div>
</div>
