.container {
    background: #fafafa;
    padding: 20px;
    border-bottom: solid 1px #f0f0f0;
}

.ordem-compra {
    padding: 80px 32px;
}

input.ng-invalid.ng-touched {
    border: 1px solid rgb(240, 94, 94);
}

select.ng-invalid.ng-touched {
    border: 1px solid rgb(240, 94, 94);
}

input.ng-valid.ng-touched {
    border: 1px solid rgb(147, 250, 147);
}

select.ng-valid.ng-touched {
    border: 1px solid rgb(147, 250, 147);
}
